html{
    background-color: beige;
}
form {
    background-color: aquamarine;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

    
